         <section >
          <div class="jumbotron" >

            <div class="row" >
<!-- primary input field\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
              <div class="col-md-6">
                <form name="form" ng-submit="addItem()">
                  <div class="form-group">
                    <label for="itemname">Name</label>
                    <input type="text" class="form-control" id="itemname" name="newItem" ng-model="newItem"/>
                  </div>
                  <div class="form-group">
                    <label for="itemdescription">Description</label>
                    <textarea class="form-control" id="itemdescription" ng-model="newDescription"> </textarea> 
                  </div>
                  <div class="form-group">
                    <label for="itemprice">Price</label>
                    <input type="text" class="form-control" id="itemprice" placeholder="Price" ng-model="newPrice">
                  </div>
                   <div class="form-group">
                    <label for="itemlocation">Location</label>
                    <input type="text" class="form-control" id="itemlocation" placeholder="itemlocation" ng-model="newLocation">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputFile">Upload Image</label>
                    <input type="file" ngf-select ng-model="picFile" name="file"    
                           accept="image/*" ngf-max-size="2MB" required>
                    <i ng-show="form.file.$error.required">*required</i><br>
                    <i ng-show="form.file.$error.maxSize">File too large 
                        {{picFile.size / 1000000|number:1}}MB: max 2M</i>
                    <img ng-show="form.file.$valid" ngf-thumbnail="picFile" class="thumb">
                  </div>
                  <div class="category">
                    <select class="form-control" ng-model="newCategory">
                      <option>Art</option>
                      <option>Electronics</option>
                      <option>Clothes</option>
                      <option>Miscellaneous</option>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
              </div> 
<!-- primary input field\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
              <div class="col-md-6">
                <img ng-show="form.file.$valid" ngf-thumbnail="picFile" class="thumb">
                <h1>{{newItem}}</h1>
                <p>{{newDescription}}</p>
                <p>{{newPrice}}</p>
                <p>{{newLocation}}</p>
              </div> 
              
            </div>
          

          </div>
         </section>